<!doctype html>
<html lang="en">

<head>
    <title>Learning</title>
    <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css" />
    <meta charset=“utf-8”>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const config = {
            apiKey: "AIzaSyA_FFbyyIGGYVLKsZpzKxyKdpmb33NACQQ",
            authDomain: "learning-4ee1b.firebaseapp.com",
            databaseURL: "https://learning-4ee1b.firebaseio.com",
            projectId: "learning-4ee1b",
            storageBucket: "learning-4ee1b.appspot.com",
            messagingSenderId: "228836215394"
        };

        firebase.initializeApp(config);
        const provider = new firebase.auth.FacebookAuthProvider();
        firebase.auth().signInWithPopup(provider).then((result) => {
            const user = result.user.uid;
            localStorage.setItem('user', user);
            return user;
        }).then(user => {
            firebase.database().ref('/users/' + user + '/data/').on('value', (snapshot) => {
                app.words = [];
                snapshot
                    .forEach(e => {
                        app.words.push({
                            orig: e.val().word,
                            trans: e.val().translation,
                            remove: "javascript: remove(\"" + e.key + "\")"
                        });
                    })
            });

        }).catch((error) => {
            alert("Error");
            console.log(error);
        });


        const remove = (id) => {
            firebase.database().ref('users/' + localStorage.getItem('user') + '/data/').child(id).remove()
        };

        const writeUserData = () => {
            firebase.database().ref('users/' + localStorage.getItem('user') + '/data/').push().set({
                word: app.original,
                translation: app.translation
            });
        }
    </script>
</head>

<body>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '343261666142517',
                cookie: true,
                xfbml: true,
                version: 'v2.11'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <main>
        <div id="app">
            <p v-for="word in words">
                {{ word.orig }}
                <strong>{{ word.trans }}</strong>
                <a :href="word.remove">remove</a>
            </p>
            <input v-model="original" />
            <input v-model="translation" @keyup.enter="update" />
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    words: [],
                    original: "",
                    translation: ""
                },
                methods: {
                    update: () => {
                        writeUserData();
                        this.original = "";
                        this.translation = ""
                    }
                }
            });
        </script>
    </main>
</body>

</html>